html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    background: rgba(0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-family: "Inconsolata", monospace;
}

ul {
    height: 200px;
    width: 18%;
}

ul {
    overflow: hidden;
    overflow-y: scroll;
}

ul li {
    list-style-type: none;
}